paned > separator {
    min-width: 0;
    background-color: transparent;
    border: none;
    margin: 0;
    opacity: 0;
}

paned {
    height: 100%;
}

.container-margin {
    margin: 0;
}

.sidebar {
    background-color: var(--headerbar-bg-color);
    padding: var(--spacing-sm);
}

.navigation-list {
    background-color: var(--headerbar-bg-color);
}

.navigation-list row,
.navigation-list row:hover,
.navigation-list row:selected {
    background: transparent;
}
