.content-box {
}

.content-icon {
}

.content-text {
}

.button-container {
}

.content-list-item {
}

.content-list-item-base {
}

.main-content {
    height: 100%;
}

.content-item-indented {
    margin-left: 45px;
}

.content-scroll {
    height: 100%;
}

.content-header {
    background-color: transparent;
    border: none;
    box-shadow: none;
    min-width: 0;
}

.content-header headerbar {
    border: none;
    box-shadow: none;
}