.sidebar-wrapper {
    background-color: var(--sidebar-bg);
}

.account-text,
.folder-text {
    font-weight: normal;
}

.account-text.unread,
.folder-text.unread {
    font-weight: bold;
}

.sidebar-header {
    background-color: transparent;
    border: none;
    box-shadow: none;
    min-width: 0;
}

.sidebar-header headerbar {
    background-color: transparent;
    border: none;
    box-shadow: none;
}
