.html-viewer-frame {
    border-radius: 0 0 var(--spacing-md) var(--spacing-md);
    border: none;
    background: transparent;
}

.html-viewer-view {
    margin: 0;
}

.html-viewer-view::-webkit-scrollbar-track {
    background: transparent;
}