searchentry {
  background: transparent;
}

searchbar > revealer > box {
  background: transparent;
}

.message-list-search-box searchentry {
  background: transparent;
}

scrolledwindow {
    background: none;
}

row {
    background: none;
}

row:hover {
    background: none;
}

row:selected {
    background: none;
}

.app-icon-margin {
    margin: 0;
}

.app-text-margin {
    margin: 0;
}

.error-icon {
    color: var(--error-color);
    opacity: 0.8;
}

.error-text {
    color: var(--error-color);
    opacity: 0.9;
}

.dim-label {
    opacity: 0.65;
}

.error {
    color: var(--error-color);
    font-weight: bold;
} 