:root {
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 12px;
  --spacing-lg: 20px;
  --spacing-xl: 36px;

  --sidebar-bg: @sidebar_bg_color;
  --message-row-hover-bg: @sidebar_bg_color;
  --message-row-selected-bg: alpha(@accent_color, 0.1);
  --border-color: @borders;
  --error-color: @error_color;
  --success-color: @success_color;
  --info-color: @accent_color;
  --color-text: @window_fg_color;
  --theme-fg-color: @theme_fg_color;
  --theme-bg-color: @theme_bg_color;
  --headerbar-bg-color: @headerbar_bg_color;
  --borders: @borders;
  --card-shadow: @shade_color;
} 
